body{
  background: #eee;
}
.main-heading{
  font-size: 20px;
  margin: 0;
  margin-left: 10px;
}

.year-btn{
  border: none;
  outline: none;
  padding: 3px 10px;
  border-radius: 2px;
  margin: 5px 15px;
  font-size: 12px;
}

aside{
  height: auto;
  display: inline-block;
  padding: 10px;
  background: white;
  width: 160px;
  padding-bottom: 50px;
  margin: 10px;
  float: left;
}

aside h3{
  margin: 0;
  font-size: 15px;
  margin-bottom: 14px;
}

.launch-year{
  display: block;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
  width: 130px;
  margin: 0 auto;
  margin-bottom: 5px;
}


/* CARDS */
.container{
  display: inline-block;
  margin-top: 10px;
  width: 83%;
}
.sub-container{
  background: white;
  display: inline-block;
  width: 200px;
  height: 320px;
  padding: 5px;
  overflow: hidden;
  border-radius: 3px;
  margin: 0 10px;
  margin-bottom: 10px;
}
.mission-img{
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background: #eee;
}
.mission-title{
  font-size: 13px;
  margin: 8px;
  color: #1b407a;
}
.common-h3{
  margin: 0;
  font-size: 12px;
  margin-left: 8px;
  display: inline-block;
}
.common-h3-span{
  font-weight: 400;
}
.mission-ul{
  margin: 0;
  padding-left: 28px;
}
.mission-li{
  font-size: 12px;
}

.loading{
  position: fixed;
  z-index: 1000;
  left: 50vw;
  top: 50vh;
}